include CHANGES LICENSE
include tox.ini

recursive-include lib *.py
recursive-include lib3 *.py

recursive-include examples *.cfg *.py *.yaml

recursive-include tests *.py
recursive-include tests/data *.*

exclude .travis.yml

prune .travis
